@charset "ISO-8859-1";


 *{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
	background: #f0f0f0;
	width: 100%;
	overflow-x: hidden;
}
 .advbook{
position: absolute;
    margin-top: 0;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)*/;
}
/* 	transform: translate(-50%,-50%);
	width: 1000px;
	background: f0f0f0;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow:0 5px 10px rgba(0,0,0,.2) */
 
/* .advbook h2{
	margin: 0 0 40px;
	padding: 0;
	color: #00000;
	text-align: center;
} */


.advbook input{
	padding: 10px 10px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	/* border: none; */
	border: 1px solid #000;
	/* border-bottom: 2px solid #a92626; */
}

.advbook label{
  position: absolute;
    top: 3px;
    left: 18px;
    padding: 10px 0;
    font-size: 16px;
    color:  #000;
    pointer-events: none;
    transition: .5s;
} 

.adv_book_nup label{
	position: absolute;
	top: 15px;
}


.advbook  input:focus ~ label,
.advbook  input:valid ~ label{
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
 
}
.advbook .label1{
  position: absolute;
    top: -17px;
    left: 20px;
    padding: 10px 0;
    font-size: 16px;
    color:  #000;
    pointer-events: none;
    transition: .5s;
} 

.adv_book_nup .label1{
	position: absolute;
	top: 15px;
}
  
.advbook  input:focus ~ .label1,
.advbook  input:valid ~ .label1{
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
 
}  
 .advbook .sub{
 	position: absolute; 
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
	font-weight:bold;
	}
.advbook input[type="text"]{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	   
}
#goodrcvtotalcol {
    width: 40%;
    margin-left: -35px;
}
.advbook input{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    padding: 13px;
}

 .advbookbutton input[type="button"]{
 padding-bottom: 30px;
    width: 124;
}

 .advbookbutton input[type="reset"]{
 padding-bottom: 30px;
    width: 124;
    margin-left: 13%;
}

.adv_sup_btn{
	position: absolute;
	margin-top: 15px;
    margin-left: -10px;
}

.adv_book_grid{
	margin-left: -32%;
    margin-bottom: 3%;
}

.godbtn {
    position: absolute;
    margin-top: 15px;
    margin-left: -10px;
}

.godbtn1{
	position: absolute;
    margin-top: 15px;
    margin-left: -23px;
}
.adv_book_grid{
    margin-left: -214px;
    margin-right: -76px;
    margin-bottom: 24px;
    }
.col-md-offset-2{
margin-left: 20.666667%;
}
@media screen and (max-width:1180px) {
	.advbookbutton  {
		padding-left: 9%;
	}
	.col-md-2 {
		width: 20%;
	}
	.adv_book_grid {
		margin-left: -198px;
		margin-right: -122px;
		margin-bottom: 24px;
	}
#goodrcvtotalcol {
    width: 40%;
    margin-left: -17px;
}
.col-md-offset-2{
margin-left: 22.666667%;	
}
}

@media screen and (max-width:991px) {
	.col-md-2 {
		width: 22%;
	}
	.advbookbutton  {
		padding-left: 0%;
	}
	.adv_book_grid {
		margin-left: -185px;
		margin-right: -18px;
		margin-bottom: 24px;
	}
	.col-md-offset-2{
    margin-left: 1.666667%;
}
}

@media screen and (max-width:767px) {
.adv_book_grid {
    margin-left: -139px;
    margin-right: -80px;
    margin-bottom: 24px;
    width: auto;
	}
	.advbookbutton  {
    padding-left: 20%;
}
.col-md-2 {
		width: 28%;
	}
#goodrcvtotalcol {
    width: 48%;
    margin-left: -9px;
}
.voucher {
    position: absolute;
    margin-top: -40px;
    right: 0;
}
.col-md-offset-2{
    margin-left: 1.666667%;	
}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
*{
	margin: 0;
	padding: 0;
	
}
col-md-6{
	width: 100%;
}
col-lg-6{
	width: 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body{
	margin-top: 38px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	}
