@charset "ISO-8859-1";

@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #f0f0f0;
	width: 100%;
	overflow-x: hidden;
}

.expenditure {
	position: absolute;
	top: 5%;
	width:100%;
	background: f0f0f0;
	padding: 40px;
	box-sizing: border-box;
	}

.expenditure h2 {
	margin: 0 0 5px;
	padding: 0;
	color: #00000;
	text-align: center;
	    font-weight: bold;
}

.expenditure input {
	padding: 10px 10px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border-radius: 9px;
	border-color: #21409c;
	background-color: #f0f0f0;
	/* border: none; */
	border: 1px solid #000;
	/* border-bottom: 2px solid #a92626; */
}
label {
	position: absolute;
	top: 15px;
	left: 20px;
	padding: 0;
	transition: 0.3s;
.expenditure span {
	position: absolute;
	top: 3px;
	left: 25px;
	padding: 10px 0;
	font-size: 16px;
	color: #000;
	pointer-events: none;
	transition: .5s;
	font-weight: bold;
}

.expenditure input:focus ~ span, .expenditure input:valid ~ span {
	top: -12px;
	left: 25px;
	font-size: 16px;
	padding: 2px 4px;
	background-color: #f0f0f0;

	/* border: 1px solid blue */
}

.expenditure input[type="text"] {
	border-radius: 9px;
	border-color: #21409c;
	background-color: #f0f0f0;
	padding: 13px;
}


.expenditure input[type="button"] {
	border-bottom: none;
	cursor: pointer;
	width: 100%;
}

.expenditure input[type="reset"] {
	border-bottom: none;
	cursor: pointer;
	width: 100%;
}

/* .expenditure form div {
	position: relative;
	left:5%;
}
 */
 #expenditurecol{
 margin-left: 30%;
    width: 40%;

 }
.expenditure input {
	border-radius: 9px;
	border-color: #21409c;
	background-color: #f0f0f0;
	padding: 13px;
}
.expenditurebutton {
       margin-left: 30%;
}
#expenditurebtn {
    padding: 5px 5px;
    width: 20%;
}
.col-lg-12.col-md-12.col-sm-12.col-12 {
    margin-left: -15px;
}
@media only screen and (max-width: 1180px) {
	.expenditurebutton {
        margin-left: 32%;
}

#expenditurecol {
    margin-left: 30%;
    width: 40%;
}
.col-lg-12.col-md-12.col-sm-12.col-12 {
    margin-left: -44px;
}
#expenditurebtn {
    padding: 5px 5px;
    width: 23%;
}
	}
	@media only screen and (max-width: 991px) {
	.expenditurebutton {
        margin-left: 27%;
}
#expenditurebtn {
    padding: 5px 5px;
    width: 25%;
    display: inline-block;
}

#expenditurecol {
    margin-left: 30%;
    width: 40%;
}
	}
	@media only screen and (max-width: 767px) {
	.container {
    width: 100%;
    margin-left: 0%;
}
	.expenditurebutton {
        margin-left: 17%;
}
#expenditurebtn {
    padding: 5px 5px;
    width: 24%;
}
.expenditure {
    position: absolute;
    top: 1%;
    width: 100%;
    background: f0f0f0;
    padding: 40px;
    box-sizing: border-box;
}
.col-lg-12.col-md-12.col-sm-12.col-12 {
    margin-left: 16px;
}
#expenditurecol {
    margin-left: 26%;
    width: 50%;
}
	}