@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/* background-image: url(/SMT/staticContent/images/cloth.jpg); */

	/* background: #f0f0f0; */
}

.logincontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: f0f0f0;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	background-color: #fff;
}

.logincontent h2 {
	margin: 0 0 40px;
	padding: 0;
	color: #00000;
	text-align: center;
}

.logincontent input {
	padding: 10px 0 17px 15px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	/* border-bottom: 2px solid #a92626; */
	outline: none;
	border: 1px solid #000;
	background: none;
}

.logincontent select {
	padding: 10px 0 17px 15px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	/* border-bottom: 2px solid #a92626; */
	outline: none;
	border: 1px solid #000;
	background: none;
	border-radius: 9px;
	border-color: #21409c;
	background-color: rgb(232, 240, 254) !important;
}

.logincontent label {
	position: absolute;
	top: 3px;
	left: 11px;
	padding: 10px 0;
	font-size: 16px;
	color: #000;
	pointer-events: none;
	transition: .5s;
	background: #fff;
}
#shoplabel{
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}
.logincontent input:focus ~ label {
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}

.logincontent select:focus ~ label {
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}

.logincontent input:valid ~ label {
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}

.logincontent select:valid ~ label {
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}

.logincontent input:focus ~ span, .logincontent input:valid ~ span {
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}

.logincontent select:focus ~ span, .logincontent select:valid ~ span {
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
}

.logincontent input[type="text"] {
	border-radius: 9px;
	border-color: #21409c;
}

.logincontent input[type="password"] {
	border-radius: 9px;
	border-color: #21409c;
}

.logincontent input[type="button"] {
	border-bottom: none;
	cursor: pointer;
	width: 100%;
}

.logincontent input[type="reset"] {
	border-bottom: none;
	cursor: pointer;
	width: 100%;
}
/* #forgotpassword{
	margin-top: 13%;
    margin-left: -32%;
} */
.logincontent form div {
	position: relative;
}

/* .logincontent form div label
{
	position: absolute;
	top: 15px;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
	font-size: 16px;
} */
/* 
.logincontent input:focus ~ label
{
	top: -14px;
	left: 0;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}  */

/* .logincontent input:valid ~ label
{
	top: -14px;
	color: black;
	font-size: 12px;
}  
   */
.effect-7, .effect-8, .effect-9 {
	border: 1px solid #ccc;
	padding: 7px 14px 9px;
	transition: 0.4s;
}

.effect-7 ~ .focus-border:before, .effect-7 ~ .focus-border:after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #3399FF;
	transition: 0.4s;
}

.effect-7 ~ .focus-border:after {
	top: auto;
	bottom: 0;
}

.effect-7 ~ .focus-border i:before, .effect-7 ~ .focus-border i:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 0;
	background-color: #3399FF;
	transition: 0.6s;
}

.effect-7 ~ .focus-border i:after {
	left: auto;
	right: 0;
}

.effect-7:focus ~ .focus-border:before, .effect-7:focus ~ .focus-border:after
	{
	left: 0;
	width: 100%;
	transition: 0.4s;
}

.effect-7:focus ~ .focus-border i:before, .effect-7:focus ~
	.focus-border i:after {
	top: 0;
	height: 100%;
	transition: 0.6s;
}

.col-md-4.col-sm-4.col-xs-4.col-lg-4.col-md-offset-2 {
	width: 100%;
	margin-top: 5px;
}

@media ( max-width : 1180px) { /* #forgotpassword{
	margin-top:5%;
    margin-left: 5%;
} */
}