@charset "ISO-8859-1";

 
 *{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
	background: #f0f0f0;
	width: 100%;
	overflow-x: hidden;
}
 .product_detail{
	position: relative;
	top: %;
/* 	left: 10%; */
/* 	transform: translate(-50%,-50%);
	width: 1000px;
	background: f0f0f0;
	padding: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow:0 5px 10px rgba(0,0,0,.2) */
} 
.product_detail h2{
	margin: 0 0 40px;
	padding: 0;
	color: #00000;
	text-align: center;
}
.product_detail input{
	padding: 10px 10px;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	/* border: none; */
	border: 1px solid #000;
	/* border-bottom: 2px solid #a92626; */
}
/* .invoice_label_up label{
	position: absolute;
	top: 15px;
	left: 20px;
	padding: 0;
	transition: 0.3s;
	
}

.invoice_label_up input:focus ~ label,
.invoice_label_up input:valid ~ label{
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
} 
 */
 .product_detail label{
	position: absolute;
	top: 15px;
	left: 20px;
	padding: 0;
	transition: 0.3s;
} 

 .product_detail  input:focus ~ label,
 .product_detail  input:valid ~ label{
/* 	position: absolute; */
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
}
 .product_detail .sub{
 	position: absolute; 
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
	font-weight:bold;
	} 
/*  .goodRecive input:focus ~ label,
.goodRecive input:valid ~ label{
	top: -12px;
	left: 25px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	font-size: 16px;
     font-style: italic;
	border: 1px solid blue 
}  */

.product_detail input[type="text"]{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	   
}

.product_detail select{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    width: 99%;
	    padding-top: 14px;
        padding-bottom: 7px;
	   
}



.product_detail input{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    padding: 13px;
}

 .prd_det_btn input[type="button"]{
 padding-bottom: 30px;}

 .prd_det_btn input[type="reset"]{
 padding-bottom: 30px;}

.prdt_grid{
	padding-top: 17px;
}
.godbtn{
	position: absolute;
	margin-top: 15px;
    margin-left: -10px;
}
#prodlist{
	    margin-left: -24%;
}
@media screen and (max-width:1180px) {
#prodlist{
	    margin-left: -24%;
}
	}
	@media screen and (max-width:991px) {
#prodlist{
	    margin-left: -27%;
    width: 124%;
}
	}
	@media screen and (max-width:767px) {
#prodlist{
	    margin-left: -13%;
    width: 123%;	
}
.prd_det_btn input[type="button"] {
    padding-bottom: 30px;
    font-size: 16px;
}
.prd_det_btn input[type="reset"] {
    padding-bottom: 30px;
    font-size: 16px;
}
	}
