@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
	background: #f0f0f0;
}

.purchase_return input{
	padding: 10px 0;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	/* border: none; */
	border: 1px solid #000;
	/* border-bottom: 2px solid #a92626; */
}

.purchase_return label{
  position: absolute;
    top: -23px;
    left: 18px;
    padding: 10px 0;
    font-size: 16px;
    color:  #000;
    pointer-events: none;
    transition: .5s;
    background-color: #f0f0f0;
   
}

.purchase_return_up input:focus ~ label,
.purchase_return_up input:valid ~ label{
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
}
.purchase_return textarea:focus ~ label,
.purchase_return textarea:valid ~ label{
	top: -12px;
	left: 12px;
	font-size: 12px;
	padding: 2px 4px;
	background-color: #f0f0f0;
	
	/* border: 1px solid blue */
}

.purchase_return_up label{
	position: absolute;
	top: 15px;
	left: 20px;
	padding: 0;
	transition: 0.3s;
	background-color: #f0f0f0;
	font-size: 16px;
}


.purchase_return input[type="button"]{
	border-bottom: none;
	cursor: pointer;
	width: 100%;
	padding-top: 8px;
	
}


.purchase_return{
	left: 0;
    position: relative;
    padding-top: 17px;
}

.purchase_return input{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    padding: 13px;
}


.purchase_return textarea{
	    border-radius: 9px;
	    border-color: #21409c;
	    background-color: #f0f0f0;
	    padding: 13px;
}

/* .purchase_return textarea{
	padding: 10px 0;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border: 1px solid #000;
	border-bottom: 2px solid #a92626;
}
 */

.purchase_return_grid{
margin-left: -31%;
    margin-bottom: 3%;
    width: 143%;
}
 .col-md-offset-3 {
    margin-left: 10%;
}
#purchasereturnheading{
    margin-top: 33px;	
}
@media only screen and (max-width: 1180px) {
.col-md-offset-3 {
    margin-left: 10%;
}
#purchasereturnheading{
    margin-top: 33px;	
}

.col-lg-offset-4{
	margin-left: 35.66667%;
}	
.purchase_return_grid {
    margin-left: -25%;
    margin-bottom: 3%;
    width: 138%;
}
	}
@media only screen and (max-width: 991px) {
.col-md-offset-3 {
    margin-left: 39%;
}
#purchasereturnheading{
       position: absolute;
    margin-top: 33px;	
}
.purchase_return_grid {
    margin-left: -33%;
    margin-bottom: 3%;
    width: 138%;
}
.col-lg-offset-4 {
    margin-left: 26.66667%;
}
	}
@media only screen and (max-width: 767px) {
.col-md-offset-3 {
    margin-left: 37%;
}
#purchasereturnheading{
        margin-top: 52px;
    width: 281px;
    position: absolute;	
}
.col-lg-offset-4 {
       margin-left: 33.66667%;	
}
.purchase_return_grid {
    margin-left: -29%;
    margin-bottom: 5%;
    width: 146%;
}
}
 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
*{
	margin: 0;
	padding: 0;
	
}
col-md-6{
	width: 100%;
}
col-lg-6{
	width: 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body{
	margin-top: 38px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	}